APP_NAME='DNS'
APP_ENV=public
APP_URL=https://dns.example.com
APP_DOMAIN=example.com
APP_ROOT=/var/www/dns
MINIMUM_DATA=false

LANG=en_US
UI_LANG=us

DB_DRIVER=mysql
DB_HOST=localhost
DB_DATABASE=dns
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_PORT=3306

#mailer settings (Driver = smtp, utopia or msg [for local message broker]; Api Provder = sendgrid or mailgun)

MAIL_DRIVER=none
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS='example@domain.com'
MAIL_FROM_NAME='Example'
MAIL_API_KEY='test-api-key'
MAIL_API_PROVIDER='sendgrid'

# AnycastDNS
DNS_ANYCASTDNS_API_KEY=

# Bind9
DNS_BIND9_API_KEY=
DNS_BIND9_BIND_IP=

# Cloudflare
DNS_CLOUDFLARE_EMAIL=
DNS_CLOUDFLARE_API_KEY=

# ClouDNS
DNS_CLOUDNS_AUTH_ID=
DNS_CLOUDNS_AUTH_PASSWORD=

# Desec
DNS_DESEC_API_KEY=

# DNSimple
DNS_DNSIMPLE_API_KEY=

# Hetzner
DNS_HETZNER_API_KEY=

# PowerDNS
DNS_POWERDNS_API_KEY=
DNS_POWERDNS_IP=

# Vultr
DNS_VULTR_API_KEY=