{% extends "layouts/app.twig" %}

{% block title %}{{ __('Supported Providers') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Supported Providers') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
              <div class="card">
               <form action="/providers" method="post">
               {{ csrf.field | raw }}
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>AnycastDNS</span>
                        <span class="badge bg-primary text-blue-fg">API_KEY</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Bind9</span>
                        <span class="badge bg-primary text-blue-fg">API_KEY, BIND_IP</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>ClouDNS</span>
                        <span class="badge bg-primary text-blue-fg">AUTH_ID, AUTH_PASSWORD</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Desec</span>
                        <span class="badge bg-primary text-blue-fg">API_KEY</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>DNSimple</span>
                        <span class="badge bg-primary text-blue-fg">API_KEY</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Hetzner</span>
                        <span class="badge bg-primary text-blue-fg">API_KEY</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>PowerDNS</span>
                        <span class="badge bg-primary text-blue-fg">API_KEY, POWERDNS_IP</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Vultr</span>
                        <span class="badge bg-primary text-blue-fg">API_KEY</span>
                      </li>
                    </ul>
                </div>
                 </form>
              </div>
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}